.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}
.two-columns__paragraph:nth-last-of-type(1n) {
  margin-top: 0;
  margin-bottom: 0;
}
.two-columns__paragraph:nth-last-of-type(2n) {
  margin-top: 30px;
  margin-bottom: 30px;
}
.two-columns__paragraph:nth-last-of-type(3n) {
  margin-top: 0;
  margin-bottom: 0;
}
